<IfModule mod_rewrite.c>

	RewriteEngine on
	#RewriteRule !\.(js|ico|gif|jpg|png|css|tmpl|html)$ /wp/$1
	RewriteCond $1 !^(index\.html|tmpl|robots\.txt)

	RewriteRule ^(.*)$ /public/$1 [L]
	RewriteRule ^(.*)$ /public/index.php/$1 [L]


</IfModule>