.dis-list-type li{
	position:relative;
	clear:both;
	/*height:70px;*/
	border-bottom:1px solid #eee;
	transition:.25s linear;
}
.dis-list-type li.tit{
	background:#fbfbfb;
	height:28px;
	line-height:28px;
	font-weight:bold;
}
.dis-list-type li.selected{
	background:url(imgs/sz.png) left center no-repeat #ffffdd;
}
.dis-list-type li.tit .td1{
	padding-top:0;
}
.dis-list-type .td1,.dis-list-type .td2,.dis-list-type .td3{
	float:left;
	width:38px;
}
.dis-list-type .td2{
	width:340px;
}
.dis-list-type .td3{
	width:130px;
	line-height:60px;
}
.dis-list-type .td4{
	float:left;
	width:60px;
	line-height:60px;
}
.dis-list-type .td5{
	float:left;
	width:60px;
	line-height:60px;
}
.dis-list-type .td6{
	float:left;
	line-height:60px;
}
.dis-list-type li.tit .td3,.dis-list-type li.tit .td4,.dis-list-type li.tit .td5,.dis-list-type li.tit .td6,.dis-list-type li.tit .td_uname,.dis-list-type li.tit .td_source,.dis-list-type li.tit .td_type,.dis-list-type li.tit .td_size,.dis-list-type li.tit .td_time,.dis-list-type li.tit .td_source,.dis-list-type li.tit .td_mark,.dis-list-type li.tit .td_review{
	line-height:28px;
}
.dis-list-type .td_source,.dis-list-type .td_mark,.dis-list-type .td_size,.dis-list-type .td_type,.dis-list-type .td_uname{
	width:60px;
	line-height:60px;
	float:left;
}
.dis-list-type .td_time{
	width:110px;
	line-height:60px;	
	float:right;
}
.dis-list-type .td_review{
	float:left;
	width:80px;
	padding-top:20px;
}
.dis-list-type li.tit .td_review{
	padding-top:0;
}
.dis-list-type .td1{
	text-indent:16px;
	padding-top:20px;
}
.dis-list-type .td2 b{
	color:#ff6633;
}
.dis-list-type .td2 i{
	display:inline-block;
	width:11px;
	height:5px;
	vertical-align:middle;
}
.dis-list-type .td2 img{
	float:left;
	width:32px;
	height:32px;
	margin-top:14px;
}
.dis-list-type .td2 i.fold{
	float:left;
	width:32px;
	height:32px;
	margin-top:14px;
	background:url(imgs/file1.png) no-repeat;
}
.dis-list-type .td2 i.gife{
	float:left;
	width:32px;
	height:32px;
	margin-top:14px;
	background:url(imgs/gife.png) no-repeat;
}
.dis-list-type dl{
	float:left;
	padding-left:5px;
	margin:0;
}
.dis-list-type dt{
	/*width:260px;*/
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	font-size:16px;
	font-weight:bold;
	line-height:2em;
}
.dis-list-type dt span{
	position:relative;
	cursor:pointer;
	display:inline-block;
	text-indent:1em;
	font-size:12px;
/*	width:120px;*/
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	color:#9999a5;
	font-weight:200;
	line-height:2em;
}

.dis-list-type dt .name-edit{
	width:210px;
	height:25px;
	line-height:25px;
	text-indent:1em;
	padding-right:50px;
}
.dis-list-type dt i.edit-comp,.dis-list-type dt i.edit-close{
	position:absolute;
	cursor:pointer;
	width:12px;
	height:12px;
	background:url(imgs/ok.png) no-repeat;
	overflow:hidden;
	top:6px;
	right:30px;
}
.dis-list-type dt i.edit-close{
	background:url(imgs/close.png) no-repeat;
	right:10px;
}

.dis-list-type dd{
	color:#c5c5c5;
}
.dis-list-type .td2 dd span{
	cursor:pointer;
	font-size:12px;
	font-weight:bold;
	color:#696969;
}
.dis-list-type .td2 dd ul{
	margin-left:60px;
}
.dis-list-type .td2 dd li{
	height:24px;
	border-bottom:none;
}
.dis-list-type .td2 dd i{
	width:12px;
	height:12px;
	margin:0 5px 0 15px;	
}
.dis-ico-type .td2 i{
	width:12px;
	height:12px;
	margin:6px 0 0 6px;	
}
.dis-list-type .td2 i.share,.dis-ico-type .td2 i.share{
	margin-left:0;
	background:url(imgs/share.png) no-repeat;
}
.dis-list-type .td2 i.down,.dis-ico-type .td2 i.down{
	background:url(imgs/down.png) no-repeat;
}
.dis-list-type .td2 i.more,.dis-ico-type .td2 i.more{
	background:url(imgs/point.png) no-repeat;
}
.dis-ico-type .td2 i.down,.dis-ico-type .td2 i.more{
	margin-left:3px;
}
.dis-list-type .td6 i,.dis-list-type .td_time i{
	cursor:pointer;
	display:inline-block;
	position:absolute;
	top:20px;
	right:10px;
	width:16px;
	height:15px;
	background:url(imgs/star.png) no-repeat;
}
.dis-list-type .td6 i.s,.dis-list-type .td_time i.s{
	height:16px;
	background:url(imgs/star1.png) no-repeat;
}


.dis-list-type li:hover,.dis-ico-type li:hover{
	background:#e4e3e3;
	transition:.25s linear;
}
.empty{
	font-size:18px;
	text-align:center;
	height:60px;
	line-height:60px;
}
.dis-list-type li.empty{
	font-size:18px;
	text-align:center;
	height:60px;
	line-height:60px;
}


.dis-ico-type li.tit{
	background:#fbfbfb;
	width:100%;
	height:28px;
	line-height:28px;
	clear:both;
	float:none;
	font-weight:bold;
}
.dis-ico-type li.tit .td1,.dis-ico-type li.tit .td2,.dis-ico-type li.tit .td3{
	float:left;
	width:38px;
}
.dis-ico-type li.tit .td2{
	width:450px;
}
.dis-ico-type li.tit .td3{
	width:130px;
	line-height:60px;
}
.dis-ico-type{
	/*overflow:hidden;*/
}
.dis-ico-type li{
	position:relative;
	float:left;
	width:130px;
	height:180px;
	margin:0 5px;
	padding-bottom:5px;
	transition:.25s linear;
}
.dis-ico-type li .td1{
	position:absolute;
	display:none;
	top:0;
	left:0;
}
.dis-ico-type li.tit .td1{
	position:static;
	display:block;
}
.dis-ico-type li .td2{
	width:100%;
}
.dis-ico-type i{
	display:inline-block;
}
.dis-ico-type .td2 i.fold{
	margin:19px 0 0 15px;
	width:100px;
	height:100px;
	background:url(imgs/file.png) 0 2px no-repeat;
}
.dis-ico-type .td2 img{
	margin:19px 0 0 15px;
	width:100px;
	height:90px;	
}
.dis-ico-type .td2 i.gife{
	width:95px;
	height:100px;
	margin:19px 0 0 15px;
	background:url(imgs/gife1.png) no-repeat;
}
.dis-ico-type .td2 dl{
	text-align:center;
	margin:0;
}
.dis-ico-type .td2 dt{
	padding:4px 10px;
}
.dis-ico-type .td2 dd{
	padding:0 10px;
	display:none;
}
/*
.dis-ico-type .td2 dd span{
	width:30px;
	height:24px;
	float:left;
	background:url(imgs/pat-bg.png) no-repeat;
	color:#fff;
	margin-right:3px;
	font-size:0;
	line-height:0;
}
*/
.dis-ico-type .td3{
	display:none;
}
.dis-ico-type .td4{
	font-size:10px;
	color:#a599b2;
	text-align:center;
}
.dis-ico-type .td4 i{
	position:absolute;
	width:29px;
	height:28px;
	top:19px;
	right:10px;
	background:url(imgs/star2.png) no-repeat;
	display:none;
}
.dis-ico-type li.tit:hover{
	background:#fbfbfb;
	border:none;
}


.dis-ico-type li:hover{
	border:2px solid #4682d9;
	background:url(imgs/pat.png) left top no-repeat;
}
.dis-ico-type li:hover .td1{
	display:block;
}
.dis-ico-type li:hover .td2 dd{
	display:block;
}
.dis-ico-type li:hover .td4 span{
	display:none;
}
.dis-ico-type li:hover .td4 i{
	display:block;
}
.dis-ico-type li.last,.dis-list-type li.last{
	float:none;
	clear:both;
	height:0;
	line-height:0;
}
.drog-light{
	background:##e6e6e6;
}
.dis-ico-type li.ui-draggable-dragging:hover{
	border:none;
	background:transparent;
}
.dis-ico-type li.ui-draggable-dragging:hover .td1{
	display:none;
}
.dis-ico-type li.ui-draggable-dragging:hover .td2 dd{
	display:none;
}
.dis-ico-type li.ui-draggable-dragging:hover .td4 span{
	display:block;
}
.dis-ico-type li.ui-draggable-dragging:hover .td4 i{	
	display:none;
}
i.au{
	display:inline-block;
	width:11px;
	height:5px;
	vertical-align:middle;
	background:url(imgs/arrow-down2.png) no-repeat;
}
i.ad{
	display:inline-block;
	width:11px;
	height:5px;
	vertical-align:middle;
	background:url(imgs/arrow-up.png) no-repeat;
	
}
.dis-list-type .td_time i.au{
	position:static;
	background:url(imgs/arrow-up.png) no-repeat;
}
.dis-list-type .td_time i.ad{
	position:static;
	background:url(imgs/arrow-down2.png) no-repeat;	
}

.dropdown-menu > li > a.list-link{
	display:inline-block;
	padding-left:4px;
}
.list-li{
	padding-left:12px;
}
.fold-list{
	display:none;
	width:20%;
	overflow:auto;
	float:left;
}
.dis-list-type{
	/*float:left;*/
}


.fold-list ul{
	padding:4px;
}
.fold-list li{
	padding-left:4px;
	width:200px;
	padding:4px 0;
}
.fold-list li i{
	display:inline-block;
	width:16px;
	height:16px;
}

.fold-list li i{
	display:inline-block;
	position: relative;
	top:4px;
	width:16px;
	height:16px;
	margin-right:4px;
}
.fold-list li i.plus{
	background:url(imgs/jia.png) no-repeat;
}
.fold-list li i.minus{
	background:url(imgs/jian.png) no-repeat;
}


/*.fold-list i.glyphicon{
	width:7px;
	height:14px;
}*/
td{
	position:relative;
}

.list-link{
	width:160px;
	display:inline-block;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}